<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Ana ekran</title>
</head>
<body>
   <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#"><strong style="margin-right: 10px;">Bağış yuvası</strong></a>
        <div class="navbar-collapse collapse show" id="navbarColor02" style="">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Anasayfa </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Kurumlar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">İletişim</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Hakkımızda</a>
            </li>
          </ul>
          
        </div>
        <div class="container d-flex justify-content-end align-items-center">
            {% if request.user.is_authenticated %}
                <a class="nav-link text-white" href="{% url 'logout_1' %}">Çıkış yap</a>
            {% endif %}
            <div style="margin-right: 10px;"></div> <!-- Boşluk eklemek için -->
            <a href="profile" class="btn btn-light position-relative" style="background-color: #ffffff; border: 2px solid #ffffff; padding: 8px 10px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 20 20">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
                <span class="navbar-brand text-dark" style="margin-top: 10px;">Profil</span>
                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-success border border-light rounded-circle">
                    <span class="visually-hidden">Yeni bildirimler</span>
                </span>
            </a>
        </div>
        
    </nav>
   <!-- Yorum ekleme formu -->
   <div class="container mt-5">
        <div class="alert alert-info" role="alert">
            <strong>Bağış ekle</strong>
        </div>
        <form id="commentForm" method="POST" action="{% url 'home' %}">
            {% csrf_token %}
            <!-- Kullanıcıyı seçmek için checkboxes -->
            <div class="mb-3">
                <label for="group" class="form-label">Hedef kitleyi seç:</label>
                {% for group in groups %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="group" value="{{ group.group_name }}" id="group_{{ group.id }}">
                        <label class="form-check-label" for="group_{{ group.id }}">
                            {{ group.group_name }}
                        </label>
                    </div>
                {% endfor %}
            </div>

            <!-- Seçilen grupları göstermek için bir div -->
            <div id="selectedGroups" class="mb-3"></div>

            <div class="mb-3">
                <label for="name" class="form-label">Başlık:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="comment" class="form-label">Açıklama:</label>
                <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Gönder</button>
        </form>
    </div>

    <script>
        // Seçilen grupları göstermek için bir div
        const selectedGroupsDiv = document.getElementById('selectedGroups');
        // Grup seçimini dinle
        const checkboxes = document.querySelectorAll('input[name="group"]');
        checkboxes.forEach((checkbox) => {
            checkbox.addEventListener('change', () => {
                selectedGroupsDiv.innerHTML = '';
                checkboxes.forEach((checkbox) => {
                    if (checkbox.checked) {
                        const groupName = checkbox.value;
                        selectedGroupsDiv.innerHTML += `<span class="badge bg-primary">${groupName}</span>&nbsp;`;
                    }
                });
            });
        });

        // Form gönderildiğinde fazladan seçilen grupları kaldır
        const commentForm = document.getElementById('commentForm');
        commentForm.addEventListener('submit', () => {
            checkboxes.forEach((checkbox) => {
                if (!checkbox.checked) {
                    checkbox.remove();
                }
            });
        });
    </script>

    <!-- Commentler -->
    <div class="container mt-3">
        <div class="alert alert-warning" role="alert">
            <strong>Aktif bağış listesi</strong>
        </div>
        {% for comment in comments reversed %}
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text"><strong>Başlık:</strong> {{ comment.name }}</p>
                    <p class="card-text"><strong>Açıklama:</strong> {{ comment.comment }}</p> 
                    <p class="card-text"><strong>Hedef kitle:</strong> {{ comment.group }}</p>
                    <p class="card-text"><strong>Tarih:</strong> <small class="text-muted">{{ comment.dateTime }}</small></p>
                </div>
            </div>
        {% endfor %}
    </div>

   <footer class="bg-dark text-light text-center py-3">
       <div class="container"> 
           <span class="badge text-bg-primary"> <a href="https:www.facebook.com/" class="navbar-brand">Facebook</a></span>
           <span class="badge text-bg-info"><a href="https:www.twitter.com/bagısyuvası" class="navbar-brand">Twitter</a></span>
           <span class="badge text-bg-light">Bilgi ve İletişim</span>
           <p>&copy; 2024 Bağış Yuvası</p>
       </div>
   </footer>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.css"></script>
</body>
</html>
